.markdown-preview-view ul {
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
  line-height: 1px;
  padding-inline-start: var(--custom-line-indent);
  p {
    word-break: break-all;
    white-space: normal;
}
}
