ul {
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
  line-height: 1.756666em;
  padding-inline-start: var(--custom-line-indent);
  margin-block-start: -0.55em;
  margin-block-end: -0.35em;}
