.sidebar {
    width: 21em;
  right: 30px;
      top: 75px;
}
.toc-container {
  max-height: 26em;
  margin-bottom: 10px;
  
}
.markdown-preview-view ol, .markdown-preview-view ul {
     line-height: 2.1em; 
}

body:not(.remove-pre-rel-lines) ul > li::before, body:not(.remove-pre-rel-lines) ol > li::before {
    position: unset;
}
.toc-container li::before {
        content: " " !important;
}
