/* Fixes table width Issue*/
table {
    table-layout: auto !important;
    width: unset !important;
    max-width: 100%;
  }
/* Bold header row */
.cm-s-obsidian .cm-table-widget th {
    font-weight:normal;
}
// Responsible for Table Background color 1
// --background-primary-alt: hsla( 205, 23%, calc(5% + 5%), 0.8 );

// Responsible for the gray text in table headers
// hsla(
//    var(--base-h),
//    calc(var(--base-s) - 1%),
//    calc(var(--base-d) + 58%),
//    1
//  )

// Change Table Background color
--background-primary-alt: var(--background-primary)
    

--text-muted:
hsla(
    var(--base-h),
    calc(var(--base-s) + 45%),
    calc(var(--base-d) + 92%),
    0.9
  );

